%ul.inline
  - if @bookmarks.any?
    - 7.times do
      - @bookmarks.each do |bookmark|
        %li{style: "border: 1px solid black; padding: 5px;margin: 5px;"}
          %strong Image:
          in most cases can get pretty big,
          %br
          atleast 600x600, 90% of images will be rectangular
          %br
          = image_tag bookmark.image_url, width: 345, style: "border: 1px solid grey; padding: 5px;"
          %br
          %strong title:
          =  bookmark.title
          %br
          %strong url:
          = " " + bookmark.url.url
          %br
          %strong note:
          = " " + bookmark.note
          %br
          %strong created_at:
          = " " + bookmark.created_at.to_s
          %br
          %strong tags:
          = " " + bookmark.tag_list.to_s
          %br
          - if(bookmark.messages.any?)
            messages
          %strong Messages:
          2 of them
          %hr
          - 2.times do |message|
            %strong sent_to:
            (email_address)
            %br
            %strong opened email:
            date and time
            %br
            %strong clicked email:
            date and time
            %hr
          = link_to "Go to url", bookmark.url.url
          %br
          = link_to "Share link with someone new"
