#groups
  %h1 Listing groups for user
  = link_to 'New Group', new_group_path
  = link_to 'New Url', new_url_path

  %br
  %ul.inline
    - 1.times do
      - @groups.each do |group|
        %li
          %strong Image:
          Could show the latest
          %br
          bookmarks image from board
          %br
          %strong User:
          = " " + group.user.email
          %br
          %strong Title:
          = " " + group.title.to_s
          %br
          %strong Amount of Bookmarks:
          = " " + group.bookmarks.size.to_s
          %br
          %strong Locked:
          = "Locked: " + group.locked.to_s
          - if group.locked
            = semantic_form_for :group do |f|
              = f.inputs do
                = f.input :keycode

              -# = f.actions do
                -# = f.action :submit, :as => :input

          %br
          = link_to 'Show', group
          = link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }
