%h1 Form
= semantic_form_for @url do |f|
  = f.inputs do
    = image_tag @page[:image], width: 150
    -# = f.input :url, :input_html => { :value => @page[:url]}, as: :url
    = f.input :title, :input_html => { :value => @page[:title] }
    -# = f.input :default_note, :input_html => { :value => @page[:description]}

    = f.input :share_email, as: :email
    -# = f.input :keywords, label: "Tags", :input_html => { :value => @page[:keywords] }, :placeholder => "Add some if you'd like."
    = f.actions do
      = f.action :submit, :label => "Save URL", :as => :button, :button_html => {role: "button", class: "btn btn-primary btn-lg"}
